<!DOCTYPE html>

<html lang = "en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlaskTest</title>

    </head>
<!-- num_features = [c for c in ["lat", "lon", "bedrooms", "bathrooms", "sqft"] if c in df.columns]#the c for c syntax is a short cut to store only the c variables that are true in this if statement into the array
cat_features = [c for c in ["city"] if c in df.columns] -->
    <body>

        <input type="number" id="lat" placeholder="Enter Latitude" >

        <input type="number" id="lon" placeholder="Enter Longitude" >

        <input type="number" id="bedrooms" step ="1" min="0" placeholder="bedrooms" required>

        <input type="number" id="sqft" step ="1" min="0" placeholder="sqft" >

        <input type="number" id="bathrooms" step ="1" min="0" placeholder="bedrooms" required>

        <input type="text" id="city" placeholder="city" required>

        <button onclick="submit_LR()">Linear Regression</button>

        <button onclick="submit_FR()">Random Forest Regressor</button>

        
        

        <h1 id="result"></h1>


    

    </body>



    <!-- ======= Connecting JavaScript File======= -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</html>
